.loginAndSignup-card {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.loginAndSignup-card form {
    position: relative;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0 0 10px #ccc;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.loginAndSignup-card form div {
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.loginAndSignup-card form div input {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 3px;
}

.loginAndSignup-card form h2 {
    border: 1px solid #f00;
    color: #f00;
    padding: 10px 5px;
    font-size: 12px;
}

.loginAndSignup-card form button {
    padding-block: 14px;
    border: 2px solid #fff;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}

.loginAndSignup-card form button:hover {
    border: 2px solid #ccc;
}

.loginAndSignup-card form h4 {
    font-style: 16px;
    font-weight: 100;
}

.loginAndSignup-card form a button {
    width: 100%;
    background-color: #4991d9;
}

.loginAndSignup-card form h3 {
    font-size: 16px;
}

.loginAndSignup-card .back {
    align-self: flex-end;
}

.loginAndSignup-card i {
    font-size: 32px;
    color: #f00;
    align-self: flex-end;
    cursor: pointer;
}

/* LOADER */
.loader {
    --height-of-loader: 4px;
    --loader-color: #0071e2;
    width: 100%;
    height: var(--height-of-loader);
    position: absolute;
    top: 0;
    left: 0;
}

.loader::before {
    content: "";
    position: absolute;
    background: var(--loader-color);
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    animation: moving 1s ease-in-out infinite;
}

@keyframes moving {
    50% {
        width: 100%;
    }

    100% {
        width: 0;
        right: 0;
        left: unset;
    }
}