.loginAndSignup-card {
    width: 250px;
    margin: 80px auto;
    padding: 20px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    background-color: #f2f2f2;
    box-shadow: 2px 2px 10px #ccc;
}
.loginAndSignup-card .card-header {
    margin-bottom: 20px
}
.loginAndSignup-card .card-header .log {
    text-align: center;
    font-size: 24px;
    color: black;
}
.loginAndSignup-card .card-header .error {
    border: 1px solid #f00;
    font-size: 14px;
    color: #f00;
    padding: 10px;
    margin-top: 10px;
}
.loginAndSignup-card .form-group {
    margin-bottom: 15px;
}
.loginAndSignup-card label {
    font-size: 18px;
    margin-bottom: 5px;
}
.loginAndSignup-card input[type="email"], input[type="password"] {
    width: 100%;
    padding: 12px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: 0.5s;
}
.loginAndSignup-card button {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}





@media screen and (min-width: 768px) {
    .loginAndSignup-card {
        width: 300px;
    }
    .loginAndSignup-card input[type="submit"]:hover {
        background-color: #656565;
        color: black;
    }
}