.loginAndSignup-card {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    z-index: 1;
}

.loginAndSignup-card form {
    position: relative;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: var(--shadow);
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.loginAndSignup-card form div {
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.loginAndSignup-card form div input {
    border: var(--border);
    padding: 10px;
    border-radius: 3px;
}

.loginAndSignup-card form h2 {
    border: 1px solid var(--red);
    color: var(--red);
    padding: 10px 5px;
    font-size: 12px;
}

.loginAndSignup-card form button {
    padding-block: 14px;
    border: 2px solid #fff;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}

.loginAndSignup-card form h4 {
    font-style: 16px;
    font-weight: 100;
}

.loginAndSignup-card form a button {
    width: 100%;
    background-color: var(--blue);
}

.loginAndSignup-card form h3 {
    font-size: 16px;
}

.loginAndSignup-card .back {
    align-self: flex-end;
}

.loginAndSignup-card i {
    font-size: 32px;
    color: var(--red);
    align-self: flex-end;
    cursor: pointer;
}