.navbar {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.navbar .logo-auth {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 15px;
}
.navbar .logo {
    border: 1px solid #000;
    height: 50px;
    width: 100px;
}
.navbar .auth {
    display: flex;
    list-style: none;
    gap: 10px;
}
.navbar .auth li {
    color: #000;
}
.navbar .nav {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    list-style: none;
    justify-content: center;
}
.navbar .nav li {
    font-size: 14px;
    border-bottom: 1px solid #000;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);
    background-color: #fff;
}
.navbar .profile {
    display: flex;
    gap: 15px;
}
.navbar .profile i {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar .profile i {
    font-size: 25px;
    color: #136e38;
}
.navbar .profile div i {
    font-size: 20px;
    border: 3px solid;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: #57bae1;
}








@media screen and (min-width: 768px) {
    .navbar {
        height: 135px;
    }
    .navbar .logo {
        height: 100px;
        width: 200px;
    }
    .navbar .auth {
        font-size: 24px;
    }
    .navbar .logo {
        margin-left: 50px;
    }
    .navbar .nav {
        gap: 20px;
    }
    .navbar .nav li {
        font-size: 22px;
        border-bottom: none;
        padding: 25px 35px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        transition: all 0.2s;
    }
    .navbar .nav li:hover {
        transform: scale(108%);
        background-color: #333;
        color: #fff;
    }
    .navbar .profile {
        gap: 35px;
        margin-right: 10px;
    }
    .navbar .profile div i {
        font-size: 25px;
        width: 35px;
        height: 35px;
    }
    .navbar .profile i {
        font-size: 30px;
        cursor: pointer;
    }
}