.navbar {
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 0 10px #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbar .logo {
    margin: 10px;
    width: 200px;
    height: 100px;
    background-color: bisque;
    border-radius: 5px;
}
.navbar .menu-btn-cont {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .btn-cont {
    display: flex;
    gap: 10px;
}
.navbar .btn-cont a button {
    border: 2px solid #28cf89;
    padding: 10px 14px;
    width: 80px;
    border-radius: 3px;
    font-weight: 700;
    color: #fff;
    background-color: #28cf89;
    cursor: pointer;
}
.navbar .btn-cont a:last-child button {
    background-color: #4991d9;
    border: 2px solid #4991d9;
}
.navbar .profile-nav {
    display: flex;
    gap: 20px;
}
.navbar .profile-nav .fa-cart-flatbed {
    font-size: 20px;
    color: #28cf89;
    cursor: pointer;
}
.navbar .profile-nav .profile-cont .fa-user {
    font-size: 20px;
    color: #4991d9;
    cursor: pointer;
}

/* PROFILE NAVS */
.navbar .navs {
    width: 220px;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    gap: 8px;
    flex-direction: column;
    background-color: #93c9ff;
    align-items: center;
}
.profile-transition-enter {
    transform: translateX(220px);
}
.profile-transition-enter-active {
    transform: translateX(0);
    transition: transform 0.3s;
}
.profile-transition-exit {
    transform: translateX(0);
}
.profile-transition-exit-active {
    transform: translateX(220px);
    transition: transform 0.3s;
}
.navbar .top {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 100%;
    padding-block: 12px;
    background-color: #3c76b0;
    box-shadow: inset 0 0 20px #2669ab;
}
.navbar .nav {
    width: 160px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3c76b0;
    color: #fff;
    border-radius: 3px;
    box-shadow: inset 0 0 10px #2669ab;
    cursor: pointer;
}
.navbar .nav i {
    width: 16px;
    font-size: 16px;
}
.navbar .nav h6 {
    font-weight: 100;
    font-size: 14px;
}
.navbar .top h5 {
    color: #fff;
    font-weight: 600;
    background-color: #235383;
    padding: 5px 8px;
    border-radius: 2px;
    box-shadow: 0 0 3px #153a5f;
}
.navbar .top .fa-angle-right {
    color: #fff;
    font-size: 30px;
    width: 30px;
    align-self: flex-start;
    margin-left: 10px;
    border-radius: 3px;
    background-color: #2b4c6d;
    box-shadow: 0 0 3px #000;
    cursor: pointer;
}
.navbar .profile-pic {
    width: 80px;
    height: 80px;
    background-color: #93c9ff;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    box-shadow: inset 0 0 10px #285d81;
}
.navbar .profile-pic i {
    margin-top: 9px;
    font-size: 72px;
    color: #4a4a4a;
}

/* MENU */
.navbar .menu-nav-cont {
    position: fixed;
    top: 180px;
    left: 0;
    right: 50px;
    display: flex;
    background-color: #fff;
    box-shadow: inset 0 0 10px #ccc;
    padding: 15px;
    flex-wrap: wrap;
    gap: 10px;
    border-bottom-right-radius: 20px;
}
.navbar .menu-nav-cont a {
    text-decoration-line: none;
    display: flex;
    background-color: #d2dc12;
    padding: 12px 14px;
    display: flex;
    align-items: center;
    gap: 15px;
    color: #ffffff;
    border-radius: 3px;
    transition: transform 0.5s;
}
.navbar .menu-nav-cont a h6 {
    font-size: 12px;
    font-weight: 700;
}
.navbar .menu-nav-cont a i {
    font-size: 12px;
}

/* MENU BUTTON */
.hamburger {
    height: 30px;
    width: 30px;
    transform: 0.2s;
    position: relative;
}
.hamburger .checkbox {
    position: absolute;
    opacity: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.line {
    transition: 0.5s;
    stroke-width: 6px;
    stroke: black;
}
.lineTop {
    stroke-dasharray: 40 40;
    stroke-dashoffset: 25;
}
.lineBottom {
    stroke-dasharray: 40 40;
    stroke-dashoffset: 60;
}
.lineMid {
    stroke-dasharray: 40 40;
}
.hamburger .checkbox:checked + svg .line {
    stroke: crimson;
}
.hamburger .checkbox:checked + svg .lineTop {
    stroke-dashoffset: 0;
    transform-origin: left;
    transform: rotateZ(45deg) translate(-7px, -5px);
}
.hamburger .checkbox:checked + svg .lineMid {
    stroke-dashoffset: 40;
}
.hamburger .checkbox:checked + svg .lineBottom {
    stroke-dashoffset: 0;
    transform-origin: left;
    transform: rotateZ(-45deg) translate(-5px, 5px);
}




@media only screen and (min-width: 860px) {
    .navbar {
        padding-inline: 30px;
    }
    .navbar .hamburger {
        display: none;
    }
    .navbar .logo {
        margin: 10px;
        width: 200px;
        height: 100px;
        background-color: bisque;
        align-self: start;
    }
    .navbar .menu-nav-cont {
        top: 135px;
        left: 40px;
        right: unset;
        background-color: unset;
        box-shadow: unset;
        gap: 20px;
        padding: 0;
    }
    .navbar .profile-nav .fa-cart-flatbed {
        font-size: 30px;
    }
    .navbar .profile-nav .profile-cont .fa-user {
        font-size: 30px;
    }
    .navbar .btn-cont a button:hover {
        background-color: #fff;
        color: #28cf89;
    }
    .navbar .btn-cont a:last-child button:hover {
        color: #4991d9;
        background-color: #fff;
    }
}