.profile-dropdown {
    position: fixed;
    top: 60px;
    right: 10px;
    background-color: #000000;
    width: 180px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.profile-dropdown h1 {
    font-size: 12px;
    color: #fff;
    flex-grow: 1;
}
.profile-dropdown .btns {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}
.profile-dropdown .btns button {
    width: 100%;
    border: none;
    height: 30px;
}




@media screen and (min-width: 768px) {
    .profile-dropdown {
        top: 70px;
        width: 300px;
        height: 150px;
    }
    .profile-dropdown h1 {
        font-size: 18px;
    }
    .profile-dropdown .btns {
        gap: 10px;
    }
    .profile-dropdown .btns button {
        height: 40px;
        cursor: pointer;
    }
    .profile-dropdown .btns button:hover {
        background-color: #52ffc5;
        color: #fff;
    }
}