.settings {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.settings h1 {
    color: var(--gray);
}

.settings a {
    box-shadow: var(--shadow);
    font-size: 1rem;
    padding: 10px;
    text-decoration: none;
    color: var(--gray);
    display: flex;
    gap: 10px;
    border-radius: 3px;
}

.settings a.active i {
    transform: rotate(90deg);
}

.settings .details {
    position: relative;
    margin-inline: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.settings .details h6 {
    right: 100px;
    color: var(--light-gray);
    font-size: 0.9rem;
}

.settings .details div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
}

.settings .details div h2 {
    font-size: 0.9rem;
    color: var(--light-gray);
    font-weight: 200;
}

.settings .details div h2.text {
    width: 300px;
    color: var(--gray);
}

.settings .details div input {
    border: var(--border);
    font-size: 0.9rem;
    color: var(--gray);
    font-weight: 400;
    text-align: end;
    width: 190px;
    padding-inline: 3px;
    height: 30px;
}

.settings .details div .sex {
    position: relative;
}

.settings .details div .sex h3 {
    font-size: 0.9rem;
    color: var(--gray);
    font-weight: 400;
    width: 190px;
    border: var(--border);
    padding-inline: 3px;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

.settings .details div .sex .sex-dropdown {
    position: absolute;
    top: 32px;
    padding: 5px 10px;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
    background-color: #fff;
    border: var(--border);
    cursor: pointer;
}

.settings .details div .sex .sex-dropdown hr {
    width: 100%;
    border: var(--border);
}

.settings .details div .sex h4 {
    font-size: 0.9rem;
    color: var(--gray);
    font-weight: 300;
}

.settings button {
    align-self: flex-start;
    border: none;
    padding: 8px 15px;
    background-color: var(--green);
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

.settings .details div h5 {
    color: var(--red);
    font-size: 1.2rem;
}

.settings .account {
    margin-inline: 20px;
}


.settings .details input[type='tel'] {
    width: 160px;
}

.settings .details hr {
    box-shadow: 0 0 0 0.1px var(--gray);
    border: none;
}

@media only screen and (min-width: 860px) {
    .settings .details div {
        justify-content: center;
    }

    .settings .details div h2 {
        width: 200px;
    }

    .settings button {
        align-self: center;
        padding: 10px 20px;
    }

    .settings .details {
        padding-block: 20px;
    }

    .settings .details div h2.text {
        width: 400px;
    }
}