/* RESERVATION */
.reserv {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}

.reserv .nav {
    position: sticky;
    top: 0;
    background-color: #002244;
    padding: 8px 10px;
    border-radius: 6px;
    z-index: 1;
}

.reserv .nav h2 {
    font-size: 2rem;
    color: #fff;
    display: flex;
    gap: 10px;
    align-items: center;
}

.reserv .status-nav-cont {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.reserv .status-nav-cont .status-nav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    flex-grow: 1;
    border-radius: 6px;
    cursor: pointer;
}

.reserv .status-nav-cont .status-nav:nth-child(1),
.reserv .status-nav-cont .status-nav:nth-child(1) .bridge {
    background-color: orange;
}

.reserv .status-nav-cont .status-nav:nth-child(2),
.reserv .status-nav-cont .status-nav:nth-child(2) .bridge {
    background-color: mediumaquamarine;
}

.reserv .status-nav-cont .status-nav:nth-child(3),
.reserv .status-nav-cont .status-nav:nth-child(3) .bridge {
    background-color: green;
}

.reserv .status-nav-cont .status-nav:nth-child(4),
.reserv .status-nav-cont .status-nav:nth-child(4) .bridge {
    background-color: blue;
}

.reserv .status-nav-cont .status-nav:nth-child(5),
.reserv .status-nav-cont .status-nav:nth-child(5) .bridge {
    background-color: red;
}

.reserv .status-nav-cont .status-nav:nth-child(6),
.reserv .status-nav-cont .status-nav:nth-child(6) .bridge {
    background-color: gray;
}

.reserv .status-nav-cont .status-nav h2 {
    color: #fff;
    font-size: 1.2rem;
    text-shadow: 0 0 1px #000;
}

.reserv .status-nav-cont .status-nav .bridge {
    position: absolute;
    bottom: -30px;
    width: 100%;
    height: 40px;
}

.reserv .status-body .pending {
    background-color: mediumaquamarine;
}

.reserv .status-body .ongoing {
    background-color: orange;
}

.reserv .status-body .confirmed {
    background-color: green;
}

.reserv .status-body .completed {
    background-color: blue;
}

.reserv .status-body .cancelled {
    background-color: red;
}

.reserv .status-body .noshow {
    background-color: gray;
}

.reserv .status-body .table {
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    flex-grow: 1;
    padding: 0 10px 10px 10px;
}

.reserv .status-body .head {
    display: flex;
    padding-block: 15px;
    justify-content: space-between;
    margin-inline: 15px;
}

.reserv .status-body .head h3 {
    width: 90px;
    text-align: center;
}

.reserv .status-body .head h3 i {
    color: #fff;
    text-shadow: 0 0 1px #000;
    font-size: 1rem;
    cursor: pointer;
}

.reserv .status-body .head h2 {
    color: #fff;
    text-shadow: 0 0 1px #000;
    font-size: 1rem;
    text-align: center;
}

.reserv .status-body .noshow .box .acc,
.reserv .status-body .noshow .box h2,
.reserv .status-body .noshow .head h2 {
    width: 250px;
}

.reserv .status-body .completed .box .acc,
.reserv .status-body .completed .box h2,
.reserv .status-body .completed .head h2 {
    width: 250px;
}

.reserv .status-body .pending .box .acc,
.reserv .status-body .pending .box h2,
.reserv .status-body .pending .head h2 {
    width: 155px;
}

.reserv .status-body .confirmed .box .acc,
.reserv .status-body .confirmed .box h2,
.reserv .status-body .confirmed .head h2 {
    width: 180px;
}

.reserv .status-body .ongoing .box .acc,
.reserv .status-body .ongoing .box h2,
.reserv .status-body .ongoing .head h2 {
    width: 180px;
}

.reserv .status-body .cancelled .box .acc,
.reserv .status-body .cancelled .box h2,
.reserv .status-body .cancelled .head h2 {
    width: 250px;
}

.reserv .status-body .data {
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    overflow: hidden;
}

.reserv .status-body .box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 15px;
    min-height: 45px;
    cursor: pointer;
}

.reserv .status-body .box:nth-child(even) {
    background-color: #e0e0e0;
}

.reserv .status-body .box .notif {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    color: #fff;
}

.reserv .status-body .box .bttn-paid {
    font-size: 0.85rem;
    padding: 6px 12px;
    background-color: darkgreen;
}

.reserv .status-body .box .bttn-reached {
    font-size: 0.85rem;
    background-color: blue;
    padding: 6px 12px;
}

.reserv .status-body .box h2 {
    font-size: 0.8rem;
    font-weight: 700;
    color: #002244;
    text-overflow: ellipsis;
    text-align: center;
    overflow: hidden;
}

.reserv .status-body .pending .box h2 i {
    font-size: 1.5rem;
    text-align: center;
    z-index: 1;
}

.reserv .status-body .box:hover {
    box-shadow: inset 0 0 0 3px #666;
}

.reserv .status-body .box .acc {
    display: flex;
    flex-direction: column;
    gap: 2px;
    text-align: center;
}

.reserv .status-body .box .acc h3 {
    font-size: 0.8rem;
    font-weight: 700;
    color: #002244;
}



/* BUTTONS */
.reserv .status-body .box .btnss {
    width: 90px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.reserv .status-body .box .btnss button {
    padding-block: 5px;
    border-radius: 3px;
    color: #fff;
    flex-grow: 1;
    cursor: pointer;
    text-shadow: 0 0 1px #000;
    font-weight: 700;
}

.reserv .status-body .box .btnss button:hover {
    transform: scale(1.05);
}

.reserv .status-body .box .btnss .confirm {
    background-color: green;
}

.reserv .status-body .box .btnss .cancel {
    background-color: red;
}

.reserv .status-body .box .btnss .edit {
    background-color: mediumaquamarine;
}

.reserv .status-body .box .btnss .complete {
    background-color: blue;
}

.reserv .status-body .box .btnss .no-show {
    background-color: gray;
}

/* END */



.reserv .status-body .pending .q-cont {
    position: relative;
    background-color: #002244;
    width: 500px;
    padding: 20px 10px 10px 10px;
    border-radius: 6px;
}

.reserv .status-body .pending .q-cont h2 {
    color: #fff;
}

.reserv .status-body .pending .q-cont h3 {
    background-color: #fff;
    color: #002244;
    font-weight: 500;
    padding: 10px;
    text-align: justify;
    border-radius: 6px;
}

.reserv .status-body .pending .q-cont i {
    color: red;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 2rem;
    cursor: pointer;
}

.reserv .status-body .edit-cont {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 800px;
    padding: 20px;
    background-color: #fff;
    border-radius: 6px;
    color: #002244;
}

.reserv .status-body .edit-cont .inputs {
    border: 1px solid #002244;
    height: 25px;
    display: flex;
    align-items: center;
    padding-inline: 10px;
    font-size: 0.75rem;
}

.reserv .status-body .edit-cont .accomm-inputs {
    display: flex;
    flex-direction: column;
    border: 1px solid #002244;
    padding: 5px;
    gap: 5px;
    color: #002244;
}

.reserv .status-body .edit-cont .accomm-inputs .acc-nav {
    background-color: #002244;
    color: #fff;
    padding: 5px;
    font-size: 0.8rem;
}

.reserv .status-body .edit-cont .accomm-cont {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}

.reserv .status-body .edit-cont .accomm-inputs .accomm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    border: 1px solid #002244;
    width: 110px;
    height: 95px;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}

.reserv .status-body .edit-cont .accomm-inputs .accomm:hover {
    box-shadow: 0 0 1px 1px #002244;
}

.reserv .status-body .edit-cont .accomm-inputs .accomm hr {
    background-color: #002244;
    height: 0.5px;
    width: 100%;
}

.reserv .status-body .edit-cont .accomm-inputs .accomm h2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 5px;
    font-size: 0.7rem;
    font-weight: 300;
}

.reserv .status-body .edit-cont .accomm-inputs .accomm h2:nth-child(1) {
    font-size: 1rem;
    font-weight: 700;
}

.reserv .status-body .edit-cont .accomm-inputs .accomm .bttns {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    width: 100%;
}

.reserv .status-body .edit-cont .accomm-inputs .accomm .bttns button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    color: #002244;
    width: 30px;
    height: 20px;
    font-weight: 700;
}

.reserv .status-body .edit-cont .accomm-inputs .accomm .bttns button:hover {
    cursor: pointer;
}

.reserv .status-body .edit-cont .accomm-inputs .accomm .bttns button:active {
    transform: scale(0.90);
}

.reserv .status-body .edit-cont .edit-div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.reserv .status-body .edit-cont .edit-div2 {
    display: flex;
    align-items: center;
    gap: 15px;
}

.reserv .status-body .edit-cont .edit-div2 div {
    font-size: 1.5rem;
    font-weight: 700;
}

.reserv .status-body .edit-cont .btns {
    display: flex;
    gap: 20px;
}

.reserv .status-body .edit-cont .btns button {
    height: 35px;
    width: 100px;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
}

.reserv .status-body .edit-cont .btns button:first-child {
    background-color: #0f0;
}

.reserv .status-body .edit-cont .btns button:last-child {
    background-color: #f00;
}

.reserv .status-body .cancelled .head h2:nth-child(1),
.reserv .status-body .cancelled .head h2:nth-child(2),
.reserv .status-body .cancelled .head h2:nth-child(3) {
    text-align: center;
}

.reserv .status-body .cancelled .box h2:nth-child(1),
.reserv .status-body .cancelled .box h2:nth-child(2) {
    text-align: center;
}