.navigation {
    min-width: 180px;
    margin: 10px;
    background-color: #002244;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.navigation .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding-block: 10px;
}

.navigation .top img {
    width: 150px;
}

.navigation .top h1 {
    color: #0f0;
    font-size: 1.5rem;
}

.navigation hr {
    box-shadow: 0 0 0 0.5px #fff;
}

.navigation .navs {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-grow: 1;
    padding-top: 20px;
    overflow: auto;
}

.navigation .navs .main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 10px 16px;
    border-radius: 4px;
}

.navigation .navs a:hover {
    background-color: #001830;
    color: #fff;
}

.navigation .navs .main.active {
    color: #002244;
    background-color: #fff;
}

.navigation .navs .main.active:hover {
    color: #002244;
    background-color: #fff;
}

.navigation .navs a h2 {
    font-size: 1rem;
}

.navigation .navs div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0 10px 10px 10px;
}

.navigation .navs div a {
    font-size: 0.7rem;
    color: #fff;
    padding: 6px 16px;
    font-weight:6700;
    transition: box-shadow 0.5s;
}

.navigation .navs div a.active {
    box-shadow: inset 0 0 0 0.5px #fff;
}

.navigation .bottom button {
    width: 100%;
    padding: 10px 16px;
    border-radius: 4px;
    border: 1px solid #fff;
    color: #fff;
    background-color: #002244;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.navigation .bottom button:hover {
    border: 1px solid #f00;
    background: #002244;
    color: #f00;
}