* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    height: 100vh;
}

form {
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: #000;
    color: #fff;
    padding: 30px;
}

form div {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

form div input {
    font-size: 2rem;
    width: 100%;
    padding: 4px;
}

form button {
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #f00;
}